@import '~node_modules/modern-normalize/modern-normalize.css';

.is-hidden {
  display: none;
}

body {
  background-color: #ffffff;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
}

img {
  max-width: 100%;
  border: 2px solid #08aaf0;
  display: block;
  border-radius: 6px;
  box-shadow: 5px 5px 25px;
}

.breed-select {
  max-width: 250px;
  margin: 0;
}

.cat-info {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.box {
  max-width: 500px;
  padding: 20px;
  text-align: center;
  box-shadow: 5px 5px 20px;
}
